head {
	background-color:#1CD620;
}

body 
{
	background-color:#1CD620;
}

#one
{
	background-color:#1CD620;
	font-family:serif;
	color:#FFFFFF;
	text-align:center;
}
#three
{
	background-color:#1CD620;
	font-family:serif;
	color:#FFFFFF;
	text-align:center;
}
#four
{
	background-color:#1CD620;
	font-family:serif;
	color:#FFFFFF;
	text-align:center;
}
#five
{
	background-color:#1CD620;
	font-family:serif;
	color:#FFFFFF;
	text-align:center;
}